<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Lexington Gardens Affordable Housing</title>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.min.js"></script>

    </head>
    <body>


<canvas id="doughnut8" width="400" height="400"></canvas>
<script>

Chart.defaults.global.responsive = true
Chart.defaults.global.maintainAspectRatio = true
Chart.defaults.global.legend.display = false
Chart.defaults.global.tooltips.bodyFontSize = 12
Chart.defaults.global.tooltips.fontFamily = 'open sans'





var ctx = document.getElementById("doughnut8");

var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: [
          "Paper Ballots 2017",
          "Digital Ballots 2017",
          "External Ballots 2017"

                ],
        datasets: [{
            label: 'Participatory Budgeting Paper and Online Voting',
            backgroundColor:["#BE4BDB","#228AE6","#82C91E","#F59F00"],
            borderColor: "#eeeeee",
            borderWidth: 1,
            hoverBackgroundColor: "#9E9E9E",
            hoverBorderColor: "#eeeeee",
            data: [65.19,29.59,5.23]
            }]
    },
    options: {
      tooltips: {
          callbacks: {
            label: function(tooltipItem, data) {
              return data.labels[tooltipItem.index] + ' : ' + data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index] + '%';
            },
          }
      }
    }

});
</script>
    </body>
</html>
