<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Adopted Budget FY 2016 - Top Ten Agencies for Spending</title>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.min.js"></script>

    </head>
    <body>


<canvas id="doughnut4" width="400" height="400"></canvas>
<script>

Chart.defaults.global.responsive = true
Chart.defaults.global.maintainAspectRatio = true
Chart.defaults.global.legend.display = false
Chart.defaults.global.tooltips.bodyFontSize = 12
Chart.defaults.global.tooltips.fontFamily = 'open sans'





var ctx = document.getElementById("doughnut4");

var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: [
                  "Education",
                  "Misc",
                  "Social Services & Children's Services",
                  "Pension Contributions",
                  "Public Safety",
                  "Fire and Criminal Justice Services",
                  "Debt Service",
                  "Housing and Buildings",
                  "Health",
                  "Sanitation and Solid Waste",
                  "Governmental Operations",
                  "Water and Sewers",
                  "Higher Education",
                  "Transportation",
                  "Youth Services",
                  "Technology",
                  "Parks and Recreation",
                  "Design and Construction",
                  "Finance",
                  "Libraries",
                  "Aging",
                  "Economic Development",
                  "Elected Officials",
                  "Cultural Affairs",
                  "Land Use",
                  "Oversight and Investigation",
                  "Consumer Affairs",
                  "Courts and Legal Services",
                  "Civil Rights",
                  "Veterans",
                  "Civil Service and Labor",
                  "Standards and Ethics"
                ],
        datasets: [{
            label: 'FY17 Adopted Budget',
            backgroundColor:["#228AE6","#F59F00","#228AE6","#F8Bf55","#31292e7","#3896E8","#FBDFAA","#409AE9","#489eea","#4fa2eb","#57a6ec","#5eaaec","#66aeed","#6eb2ee","#75b6ef","#7dbaf0","#85bef1","#8cc2f2","#94c6f2","#9bcaf3","#a3cef4","#abd2f5","#b2d6f6","#badaf7","#c2def8","#c9e2f8","#D1e6f9","#d8eafa","#e0eefb","#e8f2fc","#eff6fd","#f7fafe"],
            borderColor: "#eeeeee",
            borderWidth: 1,
            hoverBackgroundColor: "#9E9E9E",
            hoverBorderColor: "#eeeeee",
            data: [28.328,13.629,12.665,9.909,7.062,4.463,3.806,3.495,2.382,2.149,2.148,1.849,1.345,1.296,0.927,0.799,0.646,0.610,0.517,0.465,0.422,0.301,0.296,0.232,0.067,0.060,0.052,0.050,0.016,0.005,0.004,0.003]
        }]
    }
        ,
    options: {
      tooltips: {
          callbacks: {
            label: function(tooltipItem, data) {
              return data.labels[tooltipItem.index] + ': ' + data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index] + '%';
            },
          }
      }
    }

});
</script>
    </body>
</html>
