<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <title>Gender and Salary of Uniformed vs Non-Uniformed Agencies</title>
  <link rel="stylesheet" href="./style.css">
  <script src='https://unpkg.com/chart.js@3'></script>
<script src='https://unpkg.com/@sgratzl/chartjs-chart-boxplot@3'></script><script  src="./script.js"></script>
<!--Plugins Help: https://www.chartjs.org/docs/latest/configuration/legend.html-->
</head>
<body>
  <canvas id ="chart" width="800" height="600"></canvas>
  <script>


  function randomValues(count, min, max) {
    const delta = max - min;
    return Array.from({length: count}).map(() => delta + min);
  }

  function randomBoxPlot1(min, max) {
    const values = randomValues(5, min, max).sort((a, b) => a - b);

    return {
      min: 32520,
      q1: 63970,
      median: 85292,
      q3: 85068,
      max: 97324
    };
  }
  function randomBoxPlot2(min, max) {
    const values = randomValues(5, min, max).sort((a, b) => a - b);

    return {
      min: 32520,
      q1: 60837,
      median: 85292,
      q3: 79281,
      max: 85292
    };
  }
  function randomBoxPlot3(min, max) {
    const values = randomValues(5, min, max).sort((a, b) => a - b);

    return {
      min: 32520,
      q1: 54394,
      median: 85292,
      q3: 76090,
      max: 85292
    };
  }
  function randomBoxPlot4(min, max) {
    const values = randomValues(5, min, max).sort((a, b) => a - b);

    return {
      min: 32520,
      q1: 54394,
      median: 85292,
      q3: 75620,
      max: 85292
    };
  }
  function randomBoxPlot5(min, max) {
    const values = randomValues(5, min, max).sort((a, b) => a - b);

    return {
      min: 32520,
      q1: 48371,
      median: 85292,
      q3: 76057,
      max: 85292
    };
  }
  function randomBoxPlot6(min, max) {
    const values = randomValues(5, min, max).sort((a, b) => a - b);

    return {
      min: 32520,
      q1: 48371,
      median: 55192,
      q3: 66630,
      max: 85292
    };
  }
  function randomBoxPlot7(min, max) {
    const values = randomValues(5, min, max).sort((a, b) => a - b);

    return {
      min: 28063,
      q1: 66307,
      median: 75591,
      q3: 81922,
      max: 96447
    };
  }
  function randomBoxPlot8(min, max) {
    const values = randomValues(5, min, max).sort((a, b) => a - b);

    return {
      min: 27446,
      q1: 46316,
      median: 53751,
      q3: 59450,
      max: 67639
    };
  }
  function randomBoxPlot9(min, max) {
    const values = randomValues(5, min, max).sort((a, b) => a - b);

    return {
      min: 27186,
      q1: 45385,
      median: 55369,
      q3: 61210,
      max: 71575
    };
  }
  function randomBoxPlot10(min, max) {
    const values = randomValues(5, min, max).sort((a, b) => a - b);

    return {
      min: 28565,
      q1: 49047,
      median: 68712,
      q3: 73628,
      max: 96986
    };
  }
  function randomBoxPlot11(min, max) {
    const values = randomValues(5, min, max).sort((a, b) => a - b);

    return {
      min: 27446,
      q1: 46737,
      median: 55442,
      q3: 61681,
      max: 76934
    };
  }
  function randomBoxPlot12(min, max) {
    const values = randomValues(5, min, max).sort((a, b) => a - b);

    return {
      min: 28188,
      q1: 40221,
      median: 48230,
      q3: 58110,
      max: 67277
    };
  }

  const boxplotData = {
    // define label tree
    labels: ['White','Black or African American','Hispanic or Latinx','Asian','Other','Unkown'],
  datasets: [{
    label: 'Non-Uniformed',
    backgroundColor: '#666666',
    borderColor: '#222222',
    borderWidth: 1,
    padding: 10,
    itemRadius: 1,
    outlierColor: '#999999',
    data: [
            randomBoxPlot7(0,50),
            randomBoxPlot8(0,50),
            randomBoxPlot9(0,50),
            randomBoxPlot10(0,50),
            randomBoxPlot11(0,50),
            randomBoxPlot12(0,50)
    ]
  },
  {
    label: 'Uniformed',
    backgroundColor:'#2F56A6',
    borderColor: '#222222',
    borderWidth: 1,
    padding: 10,
    itemRadius: 1,
    outlierColor: '#999999',
    data: [
      randomBoxPlot1(0,50),
      randomBoxPlot2(0,50),
      randomBoxPlot3(0,50),
      randomBoxPlot4(0,50),
      randomBoxPlot5(0,50),
      randomBoxPlot6(0,50)
    ]
  }]
};

const options = {
        responsive: true,
        title: {
          display: true,
          text: 'Chart.js Box Plot Chart',
        },
        minStats: 'min',
        maxStats: 'whiskerMax',
        scales: {
          y:{
            ticks:{
              callback: function(value, index, values) {
                return '$'+value.toLocaleString('en-US');
              },
            }
          }
        },
        plugins: {
            legend: {
                display: true,
              /*  labels: {
                    color: 'rgb(255, 99, 132)'
                }*/
            }
          }
      };

      window.onload = () => {
        const ctx = document.getElementById('chart').getContext('2d');
        let myBar = new Chart(ctx, {
          type: 'boxplot',
          data: boxplotData,
          options: options,
        });

        /*   document.getElementById('limitMinMax').onclick = () => {
          options.boxplot.datasets.minStats = 'min';
          options.boxplot.datasets.maxStats = 'max';
          myBar.destroy();
          myBar = new Chart(ctx, {
            type: 'boxplot',
            data: boxplotData,
            options: options,
          });
        };
     document.getElementById('limitWhiskers').onclick = () => {
          options.boxplot.datasets.minStats = 'whiskerMin';
          options.boxplot.datasets.maxStats = 'whiskerMax';
          myBar.destroy();
          myBar = new Chart(ctx, {
            type: 'boxplot',
            data: boxplotData,
            options: options,
          });
        };*/
      };

</script>
</body>
</html>
