<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Hart Island: Public and Private Hospital Deaths</title>
        <!--https://tmroyal.github.io/Chart.Streamgraph/-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
        <script src="Chart.Streamgraph-0.0.2-alpha/dst/Chart.Streamgraph.S.js"></script>
    </head>
    <body>


<canvas id="streamgraph" width="1200" height="400"></canvas>
<script>

Chart.defaults.global.responsive = true
Chart.defaults.global.maintainAspectRatio = true
Chart.defaults.global.legend = false
/*
Chart.types.Line.extend({
    name: "LineAlt",
    initialize: function (data) {
        Chart.types.Line.prototype.initialize.apply(this, arguments);

        // keep a reference to the original clear
        this.originalClear = this.clear;
        this.clear = function () {

            this.originalClear();

            // 1 x scale unit
            var unitX = this.datasets[0].points[1].x - this.datasets[0].points[0].x;

            var yTop = this.scale.startPoint;
            var yHeight = this.scale.endPoint - this.scale.startPoint;

            // change your color here
            this.chart.ctx.fillStyle = 'rgba(202,202,202,0.8)';

            // we shift it by half a x scale unit to the left because the space between gridline is actually a shared space
            this.chart.ctx.fillRect(this.datasets[0].points[5].x - 0.5 * unitX, yTop, unitX * 5, yHeight);
            this.chart.ctx.fillRect(this.datasets[0].points[15].x - 0.5 * unitX, yTop, unitX * 5, yHeight);
        }
    }
});
*/

var data = {
    labels: ["1978","1980","1982","1984","1986","1988","1990","1992","1994","1996","1998","2000","2002","2004","2006","2008","2010","2012","2014","2016"],
    datasets: [{
        label: "Public Hospital Deaths",
        fillColor: '#FF0000', // optional
        hoverColor: 'rgba(255,128,128,0.5)', // optional
        textColor: '#FFFFFF', // optional
        data: [138,212,240,309,334,378,336,211,185,163,140,136,161,109,97,117,104,80,100,80],
        tooltipData: {
        text: 'Public Hospital Deaths',
        number: 1
      }
    },
    {
      label: "Private Hospital Deaths",
      fillColor: '#000080', // optional
      hoverColor: 'rgba(255,128,128,0.5)', // optional
      textColor: '#FFFFFF', // optional
      data: [727,913,965,871,830,951,933,836,829,785,695,620,631,696,720,739,550,602,633,661],
      tooltipData: {
      text: 'Private Hospital Deaths',
      number: 2
    }
    }
  ]
}


var ctx = document.getElementById('streamgraph').getContext('2d');
var newChart = new Chart(ctx).Streamgraph(data, {
  options:
  {
    tooltips: {
      callbacks: {
        label: function(tooltipItem, data) {
          var datasetLabel = data.datasets[tooltipItem.datasetIndex].label || '';
          return data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index].toLocaleString('en-US')+' Deaths' ;
        }
      }
    },
    scales: {
      yAxes: [{
        stacked: false,
        ticks: {
          beginAtZero: true,
          callback: function(value) {
            return value.toLocaleString('en-US');
          }
        }
      }]
    }
  }


});
</script>
    </body>
</html>
