
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>FY19 Taxes in Preliminary Budget</title>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.min.js"></script>

    </head>
    <body>


<canvas id="doughnut22" width=auto height="250"></canvas>
<script>

Chart.defaults.global.responsive = true
Chart.defaults.global.maintainAspectRatio = true
Chart.defaults.global.legend.display= false

var ctx = document.getElementById("doughnut22");

var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: ["Property",
                "Income",
                "Sales",
                "Business Taxes",
                "Other"
          ],
        datasets: [{
            label: 'FY19 Taxes in Preliminary Budget',
            backgroundColor:["#BE4BDB","#F59F00","#228AE6","#82C91E"],
            borderColor: "#eeeeee",
            borderWidth: 1,
            hoverBackgroundColor: "#9E9E9E",
            hoverBorderColor: "#eeeeee",
            data: [27.7,12.2,7.9,6,6.3]
        }]
    }
    ,
    options: {
      tooltips: {
          callbacks: {
            label: function(tooltipItem, data) {
              return data.labels[tooltipItem.index] + ': '+ '$'+data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index].toLocaleString('en-US')+' billion';
            },
          }
      }
    }


});
</script>
    </body>
</html>
