
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>FY19 Taxes in Preliminary Budget</title>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.min.js"></script>

    </head>
    <body>


<canvas id="doughnut22" width=auto height="250"></canvas>
<script>

Chart.defaults.global.responsive = true
Chart.defaults.global.maintainAspectRatio = true
Chart.defaults.global.legend.display= true

var ctx = document.getElementById("doughnut22");

var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: ["Property: $27.7 Billion",
                "Income: $12.2 Billion",
                "Sales: $7.9 Billion",
                "Business Taxes: $6 Billion",
                "Other: $6.3 Billion"
          ],
        datasets: [{
            label: 'FY19 Taxes in Preliminary Budget',
            backgroundColor:["#228AE6","#4EA1EB","#7AB8F0","#7AB8F0","#D2E7FA","#FFFFFF"],
            borderColor: "#eeeeee",
            borderWidth: 1,
            hoverBackgroundColor: "#9E9E9E",
            hoverBorderColor: "#eeeeee",
            data: [27.7,12.2,7.9,6,6.3]
        }]
    }
    ,
    options: {
      tooltips: {
          callbacks: {
            label: function(tooltipItem, data) {
              return data.labels[tooltipItem.index]/* + ': '+ '$'+data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index].toLocaleString('en-US')+' billion'*/;
            },
          }
      }
    }


});
</script>
    </body>
</html>
