<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>NYC Capital Budget Over Time 2002-2017</title>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.min.js"></script>
        <script src="../zoomtest/node_modules/chart.js/dist/Chart.js"></script>
        <script src="../zoomtest/node_modules/hammerjs/hammer.min.js"></script>
        <script src="../zoomtest/Chart.Zoom.js"></script>
        <style>
          canvas {
              -moz-user-select: none;
              -webkit-user-select: none;
              -ms-user-select: none;
          }
      	</style>
    </head>
    <body>

<button onclick="resetZoom()">Reset Zoom</button>
<canvas id="linechart8" width=auto max-height="400"></canvas>
<script>

//Chart.defaults.global.responsive = true
//Chart.defaults.global.tooltips.backgroundColor="grey"
//Chart.defaults.global.maintainAspectRatio = true
Chart.defaults.global.legend = false

function resetZoom() {
  window.myLine.resetZoom()
}

var config =  {
    type: 'line',
    fill: false,
    data: {
        labels: ["FY 2002 Actual ","FY 2003 Actual ","FY 2004 Actual ","FY 2005 Actual ","FY 2006 Actual ","FY 2007 Actual ","FY 2008 Actual ","FY 2009 Actual ","FY 2010 Actual ","FY 2011 Actual ","FY 2012 Actual ","FY 2013 Actual ","FY 2014 Actual ","FY 2015 Actual"],
        datasets: [
                    {
                      label: "Transportation",
                      fill: false,
                      backgroundColor: "#82c91e",
                      borderColor: "#82c91e",
                      borderWidth: 1,
                      pointHoverBackgroundColor: "#82c91e",
                      pointHoverBorderColor: "#82c91e",
                      pointHoverBorderWidth: 2,
                      data: [595000000,1287000000,991000000,839000000,671000000,799000000,1291000000,1068000000,1813000000,770000000,528000000,1043000000,872000000,1485000000]
                    },
                    {
                      label: "Water and Sewers",
                      fill: false,
                      backgroundColor: "#88cb29",
                      borderColor: "#88cb29",
                      borderWidth: 1,
                      pointHoverBackgroundColor: "#88cb29",
                      pointHoverBorderColor: "#88cb29",
                      pointHoverBorderWidth: 2,
                      data: [1871000000,1380000000,1713000000,2338000000,1741000000,3690000000,3051000000,2175000000,2650000000,1252000000,1685000000,1521000000,1160000000,2103000000]
                    },
                    {
                      label: "Education",
                      fill: false,
                      backgroundColor: "#8fce35",
                      borderColor: "#8fce35",
                      borderWidth: 1,
                      pointHoverBackgroundColor: "#8fce35",
                      pointHoverBorderColor: "#8fce35",
                      pointHoverBorderWidth: 2,
                      data: [1340000000,963000000,593000000,2188000000,1990000000,3216000000,3205000000,2656000000,2265000000,1787000000,2481000000,2345000000,2060000000,2884000000]
                    },
                    {
                      label: "Parks and Recreation",
                      fill: false,
                      backgroundColor: "#95d141",
                      borderColor: "#95d141",
                      borderWidth: 1,
                      pointHoverBackgroundColor: "#95d141",
                      pointHoverBorderColor: "#95d141",
                      pointHoverBorderWidth: 2,
                      data: [169000000,226000000,143000000,225000000,279000000,476000000,545000000,551000000,542000000,396000000,290000000,533000000,365000000,646000000]
                    },
                    {
                      label: "Economic Development",
                      fill: false,
                      backgroundColor: "#9cd44d",
                      borderColor: "#9cd44d",
                      borderWidth: 1,
                      pointHoverBackgroundColor: "#9cd44d",
                      pointHoverBorderColor: "#9cd44d",
                      pointHoverBorderWidth: 2,
                      data: [193000000,255000000,221000000,215000000,168000000,175000000,398000000,373000000,461000000,190000000,244000000,282000000,278000000,163000000]
                    },
                    {
                      label: "Resiliency",
                      fill: false,
                      backgroundColor: "#a2d759",
                      borderColor: "#a2d759",
                      borderWidth: 1,
                      pointHoverBackgroundColor: "#a2d759",
                      pointHoverBorderColor: "#a2d759",
                      pointHoverBorderWidth: 2,
                      data: [191000000,143000000,140000000,187000000,297000000,475000000,640000000,425000000,290000000,220000000,145000000,171000000,328000000,164000000]
                    },
                    {
                      label: "Housing and Buildings",
                      fill: false,
                      backgroundColor: "#a9da65",
                      borderColor: "#a9da65",
                      borderWidth: 1,
                      pointHoverBackgroundColor: "#a9da65",
                      pointHoverBorderColor: "#a9da65",
                      pointHoverBorderWidth: 2,
                      data: [469000000,340000000,296000000,455000000,391000000,341000000,559000000,421000000,376000000,363000000,323000000,421000000,460000000,470000000]
                    },
                    {
                      label: "Health",
                      fill: false,
                      backgroundColor: "#b0dc70",
                      borderColor: "#b0dc70",
                      borderWidth: 1,
                      pointHoverBackgroundColor: "#b0dc70",
                      pointHoverBorderColor: "#b0dc70",
                      pointHoverBorderWidth: 2,
                      data: [121000000,104000000,90000000,450000000,307000000,229000000,232000000,280000000,175000000,286000000,299000000,315000000,306000000,157000000]
                    },
                    {
                      label: "Fire and Criminal Justice Services",
                      fill: false,
                      backgroundColor: "#b6df7c",
                      borderColor: "#b6df7c",
                      borderWidth: 1,
                      pointHoverBackgroundColor: "#b6df7c",
                      pointHoverBorderColor: "#b6df7c",
                      pointHoverBorderWidth: 2,
                      data: [181000000,209000000,99000000,143000000,213000000,163000000,159000000,111000000,204000000,163000000,182000000,261000000,188000000,225000000]
                    },
                    {
                      label: "Public Safety",
                      fill: false,
                      backgroundColor: "#bde288",
                      borderColor: "#bde288",
                      borderWidth: 1,
                      pointHoverBackgroundColor: "#bde288",
                      pointHoverBorderColor: "#bde288",
                      pointHoverBorderWidth: 2,
                      data: [119000000,81000000,65000000,43000000,76000000,87000000,101000000,146000000,805000000,80000000,63000000,89000000,170000000,141000000]
                    },
                    {
                      label: "Sanitation",
                      fill: false,
                      backgroundColor: "#c3e594",
                      borderColor: "#c3e594",
                      borderWidth: 1,
                      pointHoverBackgroundColor: "#c3e594",
                      pointHoverBorderColor: "#c3e594",
                      pointHoverBorderWidth: 2,
                      data: [216000000,159000000,140000000,137000000,77000000,189000000,173000000,171000000,503000000,320000000,222000000,400000000,277000000,274000000]
                    },
                    {
                      label: "Public Buildings",
                      fill: false,
                      backgroundColor: "#cae8a0",
                      borderColor: "#cae8a0",
                      borderWidth: 1,
                      pointHoverBackgroundColor: "#cae8a0",
                      pointHoverBorderColor: "#cae8a0",
                      pointHoverBorderWidth: 2,
                      data: [167000000,102000000,176000000,78000000,110000000,95000000,165000000,141000000,91000000,116000000,154000000,190000000,144000000,94000000]
                    },
                    {
                      label: "Libraries",
                      fill: false,
                      backgroundColor: "#d0ebac",
                      borderColor: "#d0ebac",
                      borderWidth: 1,
                      pointHoverBackgroundColor: "#d0ebac",
                      pointHoverBorderColor: "#d0ebac",
                      pointHoverBorderWidth: 2,
                      data: [45000000,76000000,70000000,41000000,35000000,39000000,53000000,104000000,74000000,21000000,55000000,27000000,42000000,40000000]
                    },
                    {
                      label: "Cultural Affairs",
                      fill: false,
                      backgroundColor: "#d7edb7",
                      borderColor: "#d7edb7",
                      borderWidth: 1,
                      pointHoverBackgroundColor: "#d7edb7",
                      pointHoverBorderColor: "#d7edb7",
                      pointHoverBorderWidth: 2,
                      data: [208000000,207000000,101000000,140000000,151000000,102000000,212000000,430000000,338000000,161000000,135000000,176000000,215000000,154000000]
                    },
                    {
                      label: "Technology",
                      fill: false,
                      backgroundColor: "#d7edb7",
                      borderColor: "#d7edb7",
                      borderWidth: 1,
                      pointHoverBackgroundColor: "#d7edb7",
                      pointHoverBorderColor: "#d7edb7",
                      pointHoverBorderWidth: 2,
                      data: [34000000,71000000,40000000,110000000,112000000,231000000,224000000,240000000,743000000,255000000,131000000,107000000,245000000,94000000]
                    },
                    {
                      label: "Courts and Legal Services",
                      fill: false,
                      backgroundColor: "#def0c3",
                      borderColor: "#def0c3",
                      borderWidth: 1,
                      pointHoverBackgroundColor: "#def0c3",
                      pointHoverBorderColor: "#def0c3",
                      pointHoverBorderWidth: 2,
                      data: [192000000,96000000,105000000,132000000,142000000,159000000,540000000,11000000,77000000,97000000,63000000,17000000,123000000,10000000]
                    },
                    {
                      label: "Higher Education",
                      fill: false,
                      backgroundColor: "#def0c3",
                      borderColor: "#def0c3",
                      borderWidth: 1,
                      pointHoverBackgroundColor: "#def0c3",
                      pointHoverBorderColor: "#def0c3",
                      pointHoverBorderWidth: 2,
                      data: [10000000,21000000,19000000,20000000,40000000,22000000,132000000,210000000,31000000,58000000,70000000,48000000,74000000,55000000]
                    },
                    {
                      label: "Social Services & Children's Services",
                      fill: false,
                      backgroundColor: "#e4f3cf",
                      borderColor: "#e4f3cf",
                      borderWidth: 1,
                      pointHoverBackgroundColor: "#e4f3cf",
                      pointHoverBorderColor: "#e4f3cf",
                      pointHoverBorderWidth: 2,
                      data: [29000000,13000000,10000000,4000000,1000000,23000000,6000000,8000000,6000000,8000000,13000000,11000000,10000000,6000000]
                    },
                    {
                      label: "Human Resources Administration",
                      fill: false,
                      backgroundColor: "#ebf6db",
                      borderColor: "#ebf6db",
                      borderWidth: 1,
                      pointHoverBackgroundColor: "#ebf6db",
                      pointHoverBorderColor: "#ebf6db",
                      pointHoverBorderWidth: 2,
                      data: [41000000,53000000,17000000,12000000,5000000,28000000,18000000,12000000,11000000,24000000,23000000,14000000,65000000,89000000]
                    },
                    {
                      label: "Property",
                      fill: false,
                      backgroundColor: "#f1f9e7",
                      borderColor: "#f1f9e7",
                      borderWidth: 1,
                      pointHoverBackgroundColor: "#f1f9e7",
                      pointHoverBorderColor: "#f1f9e7",
                      pointHoverBorderWidth: 2,
                      data: [14000000,11000000,3000000,1000000,4000000,-1000000,-2000000,0,2000000,1000000,0,0,0,4000000]
                    },
                    {
                      label: "Aging",
                      fill: false,
                      backgroundColor: "#f8fcf3",
                      borderColor: "#f8fcf3",
                      borderWidth: 1,
                      pointHoverBackgroundColor: "#f8fcf3",
                      pointHoverBorderColor: "#f8fcf3",
                      pointHoverBorderWidth: 2,
                      data: [8000000,5000000,2000000,5000000,3000000,5000000,4000000,-1000000,4000000,1000000,4000000,4000000,6000000,2000000]
                    }

          ]
        },
    options: {

      responsive:true,


      tooltips: {
        callbacks: {
          label: function(tooltipItem, data) {
            var datasetLabel = data.datasets[tooltipItem.datasetIndex].label || '';
            return datasetLabel + ': ' + '$' + data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index].toLocaleString('en-US');
          }
        }
      },
      scales: {
        xAxes: [{
         scaleLabel: {
          	display: true,
          //  labelString: 'Year'
          },
          ticks: {
            maxRotation: 0,
          }
        }],
        yAxes: [{
          scaleLabel: {
            display: true,
            labelString: 'value'
          },
          stacked: false,
          ticks: {
            beginAtZero:true,
            callback: function(value) {
              return '$' + value.toLocaleString('en-US');
            }
          }
        }]
      },
      pan: {
          enabled: true,
          mode: 'x'
      },
      zoom: {
          enabled: true,
          drag: true,
          mode: 'x',
          limits: {
              max: 5,
              min: 0.5
          }
      }

    }
  };
  window.onload = function() {
    var ctx = document.getElementById("linechart8").getContext("2d");
    window.myLine = new Chart(ctx, config);

  };
</script>
    </body>
</html>
