<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>311 Requests By Method</title>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.min.js"></script>

    </head>
    <body>


<canvas id="linechart18" width=auto max-height="400"></canvas>
<script>

Chart.defaults.global.responsive = true
Chart.defaults.global.tooltips.backgroundColor="grey"
Chart.defaults.global.maintainAspectRatio = true
// Chart.defaults.global.legend = false


var ctx = document.getElementById("linechart18");

var myChart = new Chart(ctx, {
    type: 'line',
    fill: false,
    data: {
        labels: ["FY 14", "FY 15", "FY 16", "FY 17", "FY 18"],
        datasets: [
            {
              label: "Phone Calls",
              fill: false,
              backgroundColor: "#82C91E",
              borderColor: "#82C91E",
              borderWidth: 0,
              hoverBackgroundColor: "#82C91E",
              hoverBorderColor: "#eeeeee",
              data: [21346000, 21079000, 18799000, 20540000, 20618000]
            },
            {
              label: "Mobile App",
              fill: false,
              backgroundColor: "#BE4BDB",
              borderColor: "#BE4BDB",
              borderWidth: 0,
              hoverBackgroundColor: "#BE4BDB",
              hoverBorderColor: "#eeeeee",
              data: [null, 705000, 1010000, 1365000, 1829000]
            },
            {
              label: "Website",
              fill: false,
              backgroundColor: "#2F56A6",
              borderColor: "#2F56A6",
              borderWidth: 0,
              hoverBackgroundColor: "#EF9929",
              hoverBorderColor: "#eeeeee",
              data: [5248000, 9656000, 13018000, 17246000, 19345000]
            },
            {
              label: "Texting",
              fill: false,
              backgroundColor: "#2F56A6",
              borderColor: "#2F56A6",
              borderWidth: 0,
              hoverBackgroundColor: "#EF9929",
              hoverBorderColor: "#eeeeee",
              data: [234000, 175000, 156000, 144000, 254000]
            }
          ]
        },
    options: {
      tooltips: {
        callbacks: {
          label: function(tooltipItem, data) {
            var datasetLabel = data.datasets[tooltipItem.datasetIndex].label || '';
            return datasetLabel + ': ' +data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index].toLocaleString('en-US') + ' Requests';
          }
        }
      },
      scales: {
        yAxes: [{
          stacked: false,
          ticks: {
            beginAtZero:true,
            callback: function(value) {
              if (value == 0) {
                return (value).toLocaleString('en-US') + ' requests';
              } else {
                return (value/1000000).toLocaleString('en-US') + " million" + ' requests';
              }
            }
          }
        }]
      }
    }
  });
</script>
    </body>
</html>
