<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>People in Custody at Dept. of Correction Facilities: Detained or Sentenced</title>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>


  <canvas id="chart" width=auto max-height="400"></canvas>
  <script>

  Chart.defaults.global.responsive = true
  Chart.defaults.global.maintainAspectRatio = true
  Chart.defaults.global.legend = false


  chartIt()
  .then(response => {
    console.log('yay chart');
  })
  .catch(error =>{
    console.log('error!');
    console.error(error);
  });

  const xy = []; // X,Y points needed for Scatter
  const zs = []; // neighborhood names

  async function chartIt() {
    const data = await getData();
    const ctx = document.getElementById('chart').getContext('2d');
    const myChart = new Chart(ctx, {
      type: 'scatter',
      data: {
        labels: data.zs,
        datasets: [{
          label: xy,
          data: xy,
          backgroundColor:"#2F56A6",
          hoverBackgroundColor: "#CACACA"
        }]
      },
      options: {
        tooltips: {
          callbacks: {
            label: function(tooltipItem, data) {
              var labels = data.labels[tooltipItem.index];
              return [labels, 'Median Income: ' + '$'+ Math.round(tooltipItem.xLabel).toLocaleString('en-US'), 'COVID19 Death Rate: '+ Math.round(tooltipItem.yLabel)+ 'per 100,000 people'];

            }
          },
            displayColors: false
        },
          scales: {
            xAxes: [{
              type: 'linear',
              position: 'bottom',
              display: true,
              ticks: {
                callback: function(value, index, values) {
                  return '$' + value.toLocaleString('en-US')+'';
                  ;
                }
              },
              gridLines: {
                display: false
              },
              scaleLabel: {
                display: true,
                labelString: 'Median Income Per Zip Code'
              }
            }],
            yAxes:[{
              ticks:{
                callback: function(value, index, values) {
                  return '' + value.toLocaleString('en-US')+'';
                }
              },
              gridLines: {
                display: false
              },
              scaleLabel: {
                display: true,
                labelString: 'COVID19 Deaths Per 100,000'
              }
            }]
          }
        }
      });
    }


    //SPLITTING AND BRINGING IN CSV DATA
    async function getData() {
      const xs = [];
      const ys = [];
      //  const zs = [];

      const response = await fetch('Covid_All.csv');
      const data = await response.text();

      const table = data.split('\n').slice(1); // register new line and remove first row of data
      table.forEach(row => {
        const columns = row.split(',');
        const income = columns[4];
        xs.push(income);
        const covid_death = columns[10];
        ys.push(parseFloat(covid_death)); //make data from string to number
        const neighborhood = columns[2];
        zs.push(neighborhood);
        const xsys = {x: parseFloat(income), y: parseFloat(covid_death), label: neighborhood};
        xy.push(xsys);
        console.log(xsys);
      });
      return { xs, ys, zs };
      return { xy };
//      return { zs };
    }
    </script>
    </body>
    </html>
