<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>People in Custody at Dept. of Correction Facilities: Detained or Sentenced</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.min.js"></script>

</head>
<body>


  <canvas id="linechart23" width=auto max-height="400"></canvas>
  <script>

  Chart.defaults.global.responsive = true
  Chart.defaults.global.tooltips.backgroundColor="grey"
  Chart.defaults.global.maintainAspectRatio = true
  Chart.defaults.global.legend = false


  var ctx = document.getElementById("linechart23");

  var myChart = new Chart(ctx, {
    type: 'scatter',
    fill: false,
    data: {
      datasets: [{
        label: "Detained",
        fill: false,
        lineTension: 0.5,
        backgroundColor:"#F59F00",
        borderColor: "#F59F00",
        borderWidth: 3,
        borderCapStyle: 'butt',
        borderDash: [],
        borderDashOffset: 0.0,
        borderJoinStyle: 'miter',
        pointBorderColor: "#F59F00",
        pointBackgroundColor: "#F59F00",
        pointBorderWidth: 1,
        pointHoverRadius: 6,
        pointHoverBackgroundColor: "#F59F00",
        pointHoverBorderColor: "#F59F00",
        pointHoverBorderWidth: 2,
        pointRadius: 1,
        pointHitRadius: 4,
        hoverBackgroundColor: "#F59F00",
        hoverBorderColor: "#F59F00",
        data: [
          {
            x: 88104.30845,
            y: 101.85
          },
          {
            x: 35859,
            y: 204.55
          },
          {
            x:112131,
            y: 63.2
          }]
        }
      ]
    },
    options: {

      tooltips: {
        callbacks: {
          label: function(tooltipItem, data) {
            var datasetLabel = data.datasets[tooltipItem.datasetIndex].label || '';
            return datasetLabel + ': '+'' +data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index].toLocaleString('en-US') + ' People';
          }
        }
      },
      scales: {
        yAxes: [{
          stacked: false,
          scaleLabel:{
            display: true,
            labelString: 'People'
          },
          ticks: {
            beginAtZero:false,
            callback: function(value) {
              return '' + value.toLocaleString('en-US');
            }
          }
        }],
        xAxes:[{
          type: 'linear',
          position: 'bottom'
        }]
      }
    }
  });
</script>
</body>
</html>
