<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>People in Custody at Dept. of Correction Facilities: Detained or Sentenced</title>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>


<canvas id="chart" width=auto max-height="400"></canvas>
  <script>

  //Chart.defaults.global.responsive = true
  //Chart.defaults.global.tooltips.backgroundColor="grey"
  //Chart.defaults.global.maintainAspectRatio = true
  //Chart.defaults.global.legend = false


  chartIt();

  async function chartIt() {
    const data = await getData();
    const ctx = document.getElementById('chart').getContext('2d');
    const myChart = new Chart(ctx, {
  type: 'scatter',
  data: {
      datasets: [{
          label: 'Scatter Dataset',
          data: data.xsys,
      }]
  },
  options: {
      scales: {
          x: {
              type: 'linear',
              position: 'bottom'
          }
      }
  }
});
}
//SPLITTING AND BRINGING IN CSV DATA
async function getData() {
  const xs = [];
  const ys = [];
  const xy = [];

  const response = await fetch('Covid_All.csv');
  const data = await response.text();

  const table = data.split('\n').slice(1);
  table.forEach(row => {
    const columns = row.split(',');
    const income = columns[4];
    xs.push(income);
    const covid_death = columns[10];
    ys.push(parseFloat(covid_death)); //make data from string to number and added mean payers of 14 degrees
    //console.log(income, covid_death);
    const xsys = {x: columns[4], y: columns[10]};
    xy.push(xsys);
    console.log({x: columns[4]});
//  console.log(income);
  });
  return { xs, ys };
  return {xy};
}
</script>
</body>
</html>
