
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>When Are School Buses Delayed Sept 2015-Sept 2018</title>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.min.js"></script>

    </head>
    <body>


<canvas id="doughnut26" width=auto height="250"></canvas>
<script>

Chart.defaults.global.responsive = true
Chart.defaults.global.maintainAspectRatio = true
Chart.defaults.global.legend.display= true

var ctx = document.getElementById("doughnut26");

var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: ["Special Ed AM Run","General Ed AM Run","Pre-K/EI","Special Ed PM Run","General Ed PM Run","Other"],
        datasets: [{
            label: 'When Are School Buses Delayed Sept 2015-Sept 2018',
            backgroundColor:["#82C91E","#228AE6","#F59F00","#12B886","#2F56A6","#CACACA"],
            borderColor: "#eeeeee",
            borderWidth: 1,
            hoverBackgroundColor: "#9E9E9E",
            hoverBorderColor: "#eeeeee",
            data: [143606,31948,31457,31246,7593,2250]
        }]
    }
    ,
    options: {
      tooltips: {
          callbacks: {
            label: function(tooltipItem, data) {
              return data.labels[tooltipItem.index] + ': '+data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index].toLocaleString('en-US')+' %';
            },
          }
      }
    }


});
</script>
    </body>
</html>
