<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Top 311 Request Types 2018</title>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.min.js"></script>

    </head>
    <body>


<canvas id="barhorizontal27" width="400" height="400"></canvas>
<script>

Chart.defaults.global.responsive = true
Chart.defaults.global.legend.display= false
Chart.defaults.global.maintainAspectRatio = false
Chart.defaults.global.title = true



Chart.defaults.scale = {
		display: true,
		position: "left",

		// grid line settings
		gridLines: {
			display: true,
			color: "rgba(0, 0, 0, 0.1)",
			lineWidth: 1,
			drawBorder: true,
			drawOnChartArea: true,
			drawTicks: true,
			tickMarkLength: 10,
			zeroLineWidth: 1,
			zeroLineColor: "rgba(0,0,0,0.25)",
			offsetGridLines: false
		},

		// scale label
		scaleLabel: {
			// actual label
			labelString: '',

			// display property
			display: false
		},

		// label settings
		ticks: {
			beginAtZero: true,
      minRotation: 0,
			maxRotation: 50,
			mirror: false,
			padding: 10,
			reverse: false,
			display: true,
			autoSkip: false,
			autoSkipPadding: 0,
			labelOffset: 0,
			callback: function(value) {
				return '' + value;
			}
		}
	};

// Chart.defaults.global.defaultFontSize = 10

var ctx = document.getElementById("barhorizontal27");

var myChart = new Chart(ctx, {
    type: 'horizontalBar',
    data: {
        labels: ["All Noise","Heat/Hot Water ","Large Bulky Item Collection","Illegal Parking","Blocked Driveway","Street Condition","Unsanitary Condition","Street Light Condition","Water System","Plumbing"
        ],
        datasets: [{
            label: 'Top 311 Request Types 2018',
            backgroundColor: ["#F59F00","#12B886","#82C91E","#228AE6","#2F56A6","#D05D4E","#BE4BDB","#228AE6","#12B886","#82C91E"],
            borderColor: "#eeeeee",
            borderWidth: 1,
            hoverBackgroundColor: "#9E9E9E",
            hoverBorderColor: "#eeeeee",
            data: [436941,222938,180152,163151,137014,101723,82875,73916,73129,58468]
        }]
    },
    options: {
      title:{
        display: false,
        padding: 20,
        position: 'bottom',
        text: 'Requests 2018'
      },
      scales:{
        xAxes: [{
          display: true,
          ticks: {
            beginAtZero: true,
            callback: function(value) {
              return value.toLocaleString('en-US')+' Requests';
            }
          }
        }],
        yAxes: [{
          ticks:{
              maxTicksLimit: 6
          }
        }]
      },
      tooltips: {
        callbacks: {
/*
          label: function(tooltipItem, data) {
            return '$' + data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index].toLocaleString('en-US');
          },
          */
          title: function(tooltipItems, data) {
					// Pick first xLabel for now
					var title = 'Requests 2018';

					if (tooltipItems.length > 0) {
						if (tooltipItems[0].yLabel) {
							title = tooltipItems[0].yLabel;
						} else if (data.labels.length > 0 && tooltipItems[0].index < data.labels.length) {
							title = data.labels[tooltipItems[0].index];
						}
					}

					return title;
				},
				label: function(tooltipItem, data) {
					var datasetLabel = data.datasets[tooltipItem.datasetIndex].label || '';
					return tooltipItem.xLabel.toLocaleString('en-US')+' Requests';
				}
        }
      }
    }

});
</script>
    </body>
</html>
