<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <title>My Chart</title>
</head>
<body>
  <div class="container">
    <canvas id="myChart"></canvas>

  </div>

  <script>

  let myChart = document.getElementById('myChart').getContext('2d');

  let massPopChart = new Chart(myChart, {
    type: 'bar',
    data: {
      labels:['Boston city', 'Worcester','Springfield', 'Lowell','Cambridge','New Bedford'],
      datasets:[{
        label: 'Population',
        data: [
          390233, 234232, 124544, 34333, 11000, 10000
        ]
      }]

    },
    options:{}


}  )
  </script>
</body>
</html>
