<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Number of People Burried at Heart Island Over Time</title>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.min.js"></script>

    </head>
    <body>


<canvas id="line13" width=auto max-height="400"></canvas>
<script>

Chart.defaults.global.responsive = true
Chart.defaults.global.tooltips.backgroundColor="grey"
Chart.defaults.global.maintainAspectRatio = true
Chart.defaults.global.legend = false

var ctx = document.getElementById("line13");

var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ["1978","1980","1982","1984","1986","1988","1990","1992","1994","1996","1998","2000","2002","2004","2006","2008","2010","2012","2014","2016"],
        datasets: [{
            label: 'People Burried at Hart Island',
            fill: false,
            lineTension: .5,
            backgroundColor:"#000080",
            borderColor: "#000080",
            borderWidth: 3,
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "#FF0000",
            pointBackgroundColor: "#FF0000",
            pointBorderWidth: 5,
            pointHoverRadius: 6,
            pointHoverBackgroundColor: "#000080",
            pointHoverBorderColor: "#000080",
            pointHoverBorderWidth: 2,
            pointRadius: 3,
            pointHitRadius: 4,
            hoverBackgroundColor: "#82C91E",
            hoverBorderColor: "#82C91E",
            data: [865,1125,1205,1180,1164,1329,1269,1047,1014,948,835,756,792,805,817,856,654,682,733,741]
        }]

    },
    options: {
      tooltips: {
        callbacks: {
          label: function(tooltipItem, data) {
            var datasetLabel = data.datasets[tooltipItem.datasetIndex].label || '';
            return data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index].toLocaleString('en-US')+ ' People'  ;
          }
        }
      },
      scales: {
        yAxes: [{
          stacked: false,
          ticks: {
            beginAtZero: true,
            callback: function(value) {
              return value.toLocaleString('en-US')+' People' ;
            }
          }
        }]
      }

    }

});
</script>
    </body>
</html>
