<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <title>Median Pay Difference for Males and Females</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <!--Source of Rounded Chart: https://github.com/jedtrow/Chart.js-Rounded-Bar-Charts-->
    <script type="text/javascript" charset="utf-8" src="Chart.roundedBarCharts.js"></script>
  <script type="text/javascript" charset="utf-8" src="Chart.roundedBarCharts.min.js"></script>

</head>
<body>
  <canvas id ="chart" width="800" height="400"></canvas>
  <script>
  //CHART JS
  Chart.defaults.global.legend.display = false,
  //Chart.defaults.global.defaultFontFamily = 'open sans'
  //Chart.defaults.global.defaultFontColor = "#ffffff"

  chartIt();

  const xs = [];
  const ys = [];
  const pointBackgroundColors = [];

  async function chartIt() {
    const data = await getData();
    const ctx = document.getElementById('chart').getContext('2d');
    const myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: data.xs,
        datasets: [{
          label: 'Median Pay Difference for Males and Females',
          data: data.ys,
          fill: false,
          fontColor :"#444444",
          fontStyle: 'strong',
          fontSize: '10',
          backgroundColor: '#73C96A',
          borderColor: '#CACACA',
          borderWidth: 1,
          lineTension: 4,
          hoverBackgroundColor: '#E6E6E6',
          barPercentage: .8

        }]
      },
      options: {
        cornerRadius: 20,
        title:{
          display: true,
          position: 'bottom',
          text: 'Absolute Pay Difference Between Males & Females'
        },
        scales: {
          xAxes: [{
            ticks: {
              fontColor :"#444444",
             fontStyle: 'strong',
             fontSize: '10',
              callback: function(value, index, values) {
                return '$'+value.toLocaleString('en-US');
              },
              beginAtZero: true,
              //max: 7000,
            },
            gridLines: {
              display: false
            },
            scaleLabel: {
              display: false,
              labelString: 'Males Paid More than Females'
            }
          }],
          yAxes: [{
            ticks: {
              fontColor :"#444444",
             fontStyle: 'strong',
             fontSize: '10',
              callback: function(value, index, values) {
                return value.toLocaleString('en-US')+'%';
              },
                beginAtZero: true,
            },
            gridLines: {
              display: true
            },
            scaleLabel: {
              display: true,
              labelString: 'Percent of Civil Service Titles'
            }
          }]
        },
        tooltips: {
          callbacks: {
            title: function(tooltipItems, data) {
            return 'Pay Difference: $'+ tooltipItems[0].xLabel.toLocaleString('en-US');
          },
            label: function(tooltipItem, data) {
              return data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index].toLocaleString('en-US')+'%';
            },
          },
          backgroundColor: '#CACACA',
          borderColor: '#f5f5f5',
          borderWidth: 1,
          displayColors: false
        }
      }
    });


}


  //SPLITTING AND BRINGING IN CSV DATA
  async function getData() {


    const response = await fetch('Median_Pay_Difference_by_Civil_Service_Title_Code_Level_and_Suffix.csv');
    const data = await response.text();

    const table = data.split('\n').slice(1);
    table.forEach(row => {
      const columns = row.split(',');
      const one = columns[0];
      xs.push(parseFloat(one));
      const two = columns[1];
      ys.push(parseFloat(two)); //make data from string to number and added mean payers of 14 degrees
      console.log(one, two);
    });
    return { xs, ys };
  }


  </script>
</body>
</html>
