<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Population Male Demographic Breakdowns, 2018</title>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.min.js"></script>

    </head>
    <body>


<canvas id="stackedbar16" width="80" height="75"></canvas>
<script>
Chart.defaults.global.responsive = true
Chart.defaults.global.tooltips.backgroundColor="grey"
Chart.defaults.global.maintainAspectRatio = true
var ctx = document.getElementById("stackedbar16");
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Arrests","NYC"],
        datasets: [
          {
            label: 'Black',
            backgroundColor:"#2ed7fd",
            borderColor: "#eeeeee",
            borderWidth: 1,
            hoverBackgroundColor: "#2ed7fd",
            hoverBorderColor: "#eeeeee",
            data: [47.4764485,20.3745443581953]
        },
        {
          label: 'Hispanic (White)',
          backgroundColor: "#02b4dc",
          borderColor: "#eeeeee",
          borderWidth: 1,
          hoverBackgroundColor: "#02b4dc",
          hoverBorderColor: "#eeeeee",
          data: [25.5113968,10.8512751017787]
      },
      {
        label: 'White',
        backgroundColor:"#12B886",
        borderColor: "#eeeeee",
        borderWidth: 1,
        hoverBackgroundColor: "#12B886",
        hoverBorderColor: "#eeeeee",
        data: [11.5721800 ,34.9081510818787]
    },
    {
        label: 'Hispanic (Black)',
        backgroundColor:"#2e70fd",
        borderColor: "#eeeeee",
        borderWidth: 1,
        hoverBackgroundColor: "#2e70fd",
        hoverBorderColor: "#eeeeee",
        data: [9.0268353,1.98225912373926]
    },
    {
      label: 'Asian',
      backgroundColor:"#fdab49",
      borderColor: "#eeeeee",
      borderWidth: 1,
      hoverBackgroundColor: "#fdab49",
      hoverBorderColor: "#eeeeee",
      data: [5.3601323,14.5020981487369]
  },
{
    label: 'Amerindian',
    backgroundColor:"#BE4BDB",
    borderColor: "#eeeeee",
    borderWidth: 1,
    hoverBackgroundColor: "#BE4BDB",
    hoverBorderColor: "#eeeeee",
    data: [0.2956939,0.397728601505965]
},
{
    label: 'Other',
    backgroundColor:"#D05D4E",
    borderColor: "#eeeeee",
    borderWidth: 1,
    hoverBackgroundColor: "#D05D4E",
    hoverBorderColor: "#eeeeee",
    data: [0.7573131,16.9839435841652]
},

      ]
    },
 options: {
        scales: {
            yAxes: [{
                stacked: true,
                ticks: {
                    beginAtZero:true,
                    max: 100,
                    callback: function(value) {
                      return value.toLocaleString('en-US')+'%';
                    }
                }
            }],
            xAxes: [{
                stacked: true
            }]
        },
        legend: {
            display: false
         },
        title:{
        display: true,
        padding: 10,
        position: 'bottom',
        text: 'Male Population Demographics, 2018'
      },
      tooltips: {
            callbacks: {
                label: function(tooltipItem, data) {
                    var label = data.datasets[tooltipItem.datasetIndex].label || '';

                    if (label) {
                        label += ': ';
                    }
                    label += Math.round(tooltipItem.yLabel * 100) / 100 +'%'
                    return label;
                }
            }
        }
        
    }
});
</script>
    </body>
</html>
