
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Bail Set for Felonies</title>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.min.js"></script>

    </head>
    <body>


<canvas id="doughnut14" width=auto height="250"></canvas>
<script>

Chart.defaults.global.responsive = true
Chart.defaults.global.maintainAspectRatio = true
Chart.defaults.global.legend.display= true
//Chart.defaults.global.legend.labels.fontColor = '#DFDBCF'

var ctx = document.getElementById("doughnut14");

var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: ["Over $7,500 (1%)",
                  "$2,501-$7,500 (8%)",
                  "$1,001-$2,500 (20%)",
                  "$501-$1,000 (35%)",
                  "$500 or less (36%)"],
        datasets: [{
            label: 'Bail Set for Non-Felonies in NYC 2015',
            backgroundColor:["#169193","#3adb76","#f7c44f","#f78547","#f25252","#1bb0ce"],
            borderColor: "#eeeeee",
            borderWidth: 1,
            hoverBackgroundColor: "#9E9E9E",
            hoverBorderColor: "#eeeeee",
            data: [175,1396,3490,6108,6282]
        }]
    }
    ,
    options: {
      tooltips: {
          callbacks: {
            label: function(tooltipItem, data) {
              return data.labels[tooltipItem.index] + ': '+ data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index].toLocaleString('en-US')+' People' ;
            },
          }
      }
    }


});
</script>
    </body>
</html>
