<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>NYC Revenue Budget Over Time 2002-2017</title>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.min.js"></script>
        <script src="../zoomtest/node_modules/chart.js/dist/Chart.js"></script>
        <script src="../zoomtest/node_modules/hammerjs/hammer.min.js"></script>
        <script src="../zoomtest/Chart.Zoom.js"></script>
        <style>
          canvas {
              -moz-user-select: none;
              -webkit-user-select: none;
              -ms-user-select: none;
          }
      	</style>
    </head>
    <body>

<button onclick="resetZoom()">Reset Zoom</button>
<canvas id="linechart9" width=auto max-height="400"></canvas>
<script>

//Chart.defaults.global.responsive = true
//Chart.defaults.global.tooltips.backgroundColor="grey"
//Chart.defaults.global.maintainAspectRatio = true
Chart.defaults.global.legend = true

function resetZoom() {
  window.myLine.resetZoom()
}

var config =  {
    type: 'line',
    fill: false,
    data: {
        labels: ["FY 2002 Actual ","FY 2003 Actual ","FY 2004 Actual ","FY 2005 Actual ","FY 2006 Actual ","FY 2007 Actual ","FY 2008 Actual ","FY 2009 Actual ","FY 2010 Actual ","FY 2011 Actual ","FY 2012 Actual ","FY 2013 Actual ","FY 2014 Actual ","FY 2015 Actual"],
        datasets: [
                    {
                    label: "Real Property Tax",
                    fill: false,
                    backgroundColor: "#BE4BDB",
                    borderColor: "#BE4BDB",
                    borderWidth: 1,
                    pointHoverBackgroundColor: "#BE4BDB",
                    pointHoverBorderColor: "#BE4BDB",
                    pointHoverBorderWidth: 2,
                    data: [8761000000,10063000000,11582000000,11616000000,12636000000,13123000000,13204000000,14487000000,16369000000,17086000000,18158000000,18970000000,20202000000,21518000000]
                    },
                    {
                    label: "Personal Income Tax",
                    fill: false,
                    backgroundColor: "#BE4BDB",
                    borderColor: "#BE4BDB",
                    borderWidth: 1,
                    pointHoverBackgroundColor: "#BE4BDB",
                    pointHoverBorderColor: "#BE4BDB",
                    pointHoverBorderWidth: 2,
                    data: [4990000000,5000000000,6093000000,7135000000,8007000000,8618000000,9861000000,7627000000,7576000000,8138000000,8531000000,9778000000,10152000000,11264000000]
                    },
                    {
                    label: "Business Taxes",
                    fill: false,
                    backgroundColor: "#BE4BDB",
                    borderColor: "#BE4BDB",
                    borderWidth: 1,
                    pointHoverBackgroundColor: "#BE4BDB",
                    pointHoverBorderColor: "#BE4BDB",
                    pointHoverBorderWidth: 2,
                    data: [2440000000,2282000000,2863000000,3711000000,4343000000,6013000000,5412000000,5204000000,4505000000,5299000000,5362000000,5857000000,5875000000,6049000000]
                    },
                    {
                    label: "Sales Tax",
                    fill: false,
                    backgroundColor: "#BE4BDB",
                    borderColor: "#BE4BDB",
                    borderWidth: 1,
                    pointHoverBackgroundColor: "#BE4BDB",
                    pointHoverBorderColor: "#BE4BDB",
                    pointHoverBorderWidth: 2,
                    data: [3360000000,3535000000,4018000000,4355000000,4418000000,4619000000,4868000000,4594000000,5059000000,5586000000,5812000000,6132000000,6494000000,6742000000]
                    },
                    {
                    label: "Other Taxes",
                    fill: false,
                    backgroundColor: "#BE4BDB",
                    borderColor: "#BE4BDB",
                    borderWidth: 1,
                    pointHoverBackgroundColor: "#BE4BDB",
                    pointHoverBorderColor: "#BE4BDB",
                    pointHoverBorderWidth: 2,
                    data: [2618000000,3017000000,3718000000,4546000000,5157000000,6154000000,5420000000,4099000000,3692000000,4241000000,4248000000,4985000000,5652000000,6368000000]
                    },
                    {
                    label: "Miscellaneous Revenues",
                    fill: false,
                    backgroundColor: "#D68EE8",
                    borderColor: "#D68EE8",
                    borderWidth: 1,
                    pointHoverBackgroundColor: "#D68EE8",
                    pointHoverBorderColor: "#D68EE8",
                    pointHoverBorderWidth: 2,
                    data: [3739000000,4648000000,3370000000,5074000000,3862000000,4243000000,5044000000,4627000000,4690000000,4388000000,5247000000,4657000000,5622000000,6216000000]
                    },
                    {
                    label: "Unrestricted Intergovernmental Aid",
                    fill: false,
                    backgroundColor: "#E6BBF1",
                    borderColor: "#E6BBF1",
                    borderWidth: 1,
                    pointHoverBackgroundColor: "#E6BBF1",
                    pointHoverBorderColor: "#E6BBF1",
                    pointHoverBorderWidth: 2,
                    data: [666000000,1443000000,963000000,603000000,494000000,35000000,242000000,327000000,-18000000,39000000,25000000,0,1000000,1000000]
                    },
                    {
                    label: "Disallowance of Categorical Grants",
                    fill: false,
                    backgroundColor: "#F6E8FA",
                    borderColor: "#F6E8FA",
                    borderWidth: 1,
                    pointHoverBackgroundColor: "#F6E8FA",
                    pointHoverBorderColor: "#F6E8FA",
                    pointHoverBorderWidth: 2,
                    data: [0,-47000000,-27000000,-87000000,-542000000,-103000000,-114000000,0,0,-112000000,166000000,-59000000,-18000000,-110000000]
                    },
                    {
                    label: "Federal Categorical Grants",
                    fill: false,
                    backgroundColor: "#CE78E4",
                    borderColor: "#CE78E4",
                    borderWidth: 1,
                    pointHoverBackgroundColor: "#CE78E4",
                    pointHoverBorderColor: "#CE78E4",
                    pointHoverBorderWidth: 2,
                    data: [6097000000,5618000000,5415000000,6654000000,5243000000,5471000000,5692000000,5941000000,7716000000,7877000000,7178000000,8620000000,6962000000,6982000000]
                    },
                    {
                    label: "State Categorical Grants",
                    fill: false,
                    backgroundColor: "#C661DF",
                    borderColor: "#C661DF",
                    borderWidth: 1,
                    pointHoverBackgroundColor: "#C661DF",
                    pointHoverBorderColor: "#C661DF",
                    pointHoverBorderWidth: 2,
                    data: [8030000000,8317000000,8454000000,8823000000,9586000000,10185000000,11421000000,12124000000,11645000000,11255000000,11114000000,11027000000,10916000000,12097000000]
                    },
                    {
                    label: "Other Categorical Grants",
                    fill: false,
                    backgroundColor: "#E6BBF1",
                    borderColor: "#E6BBF1",
                    borderWidth: 1,
                    pointHoverBackgroundColor: "#E6BBF1",
                    pointHoverBorderColor: "#E6BBF1",
                    pointHoverBorderWidth: 2,
                    data: [615000000,1006000000,957000000,862000000,1150000000,1038000000,1089000000,1279000000,1579000000,1523000000,1141000000,1063000000,1023000000,909000000]
                    },
                    {
                    label: "Capital IFA",
                    fill: false,
                    backgroundColor: "#EED2F6",
                    borderColor: "#EED2F6",
                    borderWidth: 1,
                    pointHoverBackgroundColor: "#EED2F6",
                    pointHoverBorderColor: "#EED2F6",
                    pointHoverBorderWidth: 2,
                    data: [305000000,300000000,328000000,346000000,365000000,421000000,455000000,475000000,583000000,561000000,551000000,538000000,535000000,551000000]
                    }
          ]
        },
    options: {

      responsive:true,


      tooltips: {
        callbacks: {
          label: function(tooltipItem, data) {
            var datasetLabel = data.datasets[tooltipItem.datasetIndex].label || '';
            return datasetLabel + ': ' + '$' + data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index].toLocaleString('en-US');
          }
        }
      },
      scales: {
        xAxes: [{
         scaleLabel: {
          	display: true,
          //  labelString: 'Year'
          },
          ticks: {
            maxRotation: 0,
          }
        }],
        yAxes: [{
          scaleLabel: {
            display: false,
            labelString: 'value'
          },
          stacked: false,
          ticks: {
            beginAtZero:true,
            callback: function(value) {
              return '$' + value.toLocaleString('en-US');
            }
          }
        }]
      },
      pan: {
          enabled: true,
          mode: 'xy'
      },
      zoom: {
          enabled: true,
          drag: true,
          mode: 'x',
          limits: {
              max: 5,
              min: 0.5
          }
      }

    }
  };
  window.onload = function() {
    var ctx = document.getElementById("linechart9").getContext("2d");
    window.myLine = new Chart(ctx, config);

  };
</script>
    </body>
</html>
