<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Age</title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="container" width=auto max-height="500">
  <canvas id="canvas"></canvas>
</div>
<!-- partial -->
  <script src='https://unpkg.com/chart.js@2.9.1'></script>
<script src='https://unpkg.com/@sgratzl/chartjs-chart-boxplot'></script><script  src="./script.js"></script>
<!--Source of Rounded Chart: https://github.com/jedtrow/Chart.js-Rounded-Bar-Charts-->
    <script type="text/javascript" charset="utf-8" src="Chart.roundedBarCharts.js"></script>
  <script type="text/javascript" charset="utf-8" src="Chart.roundedBarCharts.min.js"></script>
</body>
</html>
